.contact-wrapper{
    background: var(--black);
}

.contact-container{
    justify-content: space-around;
    gap: 1rem;
    flex-direction: row !important;
}
.contact-container>img{
    width: 9rem;
}

@media (max-width:768px) {
    .contact-container{
        flex-wrap: nowrap !important;
    }
    .contact-container>img{
        width: calc(20% - 0.5rem);
        max-width: 100%; 
        }
    } 
